body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../fotos/fundodesite.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}
header{
    padding: 30px;
    margin: 0%;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin: 0%;
}
main{
    position: relative;
    height: 84vh;
}
a{  
    color: black;
    text-decoration: none;
    margin: 10px;
}
a:hover{
    color: red;
    text-decoration: solid;
}
section{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.31);
}

footer{
    padding: 20px;
}
footer p{ 
    margin: 0%;
    text-align: center;
    color: white;
    font-size: 26px;
}