body{
    background-image: url(../fotos/fundodesite.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}
header{
    padding: 30px;
    margin: 0%;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin: 0%;
}
main{
    position: relative;
    height: 84vh;
}
section{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: -50%, -50%;
    text-align: center;
    background-color: white;
}
footer{
    padding: 20px;
}
p{ 
    margin: 0%;
    text-align: center;
    color: white;
    font-size: 26px;
}