*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color-maron: #8F5C38;
    --color-verde-claro: #CAF7E2;
    --color-verde-escuro: #548687;
    --color-azul: #0A2463;
}
    
   
body{  
    width: 96.7vw;
    height: 100vh;
    background-color: rgb(155, 155, 155);
}
header{
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.221);
}
header a {
    font-size: large;
    color: black;
    padding: 5px;
    padding-left: 15px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.098);
}
header a:hover{
    text-decoration: underline;
    color: #ff8025;
    background-color: rgba(116, 116, 116, 0.033);
}
main{
    padding: 40px;
    padding-top: 30px;
    margin: auto;
    background-image: linear-gradient(to bottom,#005291d4 20%, black);
}
div{
    margin: auto;
    padding: 30px;  
    max-width: 700px;
    min-width: 250px;
    background-color: rgba(227, 227, 227, 0);
    border-radius: 5%;
}
div h1{
    font-variant: small-caps;
    font-size: 3em;
    padding: 10px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.171);
}
h2{
    color: white;
    padding: 10px;
    font-variant: small-caps;
    text-shadow: 2px 2px 6px rgba(131, 131, 131, 0.249);
}
div p{
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
    font-size: large;
    padding: 30px;
    border-radius: 10px; 
    color:black ;
    background-color: rgba(255, 255, 255, 0.502);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.257);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.221);
}
div a{
    text-align: center;
    display: block;
    padding: 10px;
    padding-right: 25px;
    color: black;
    text-decoration: none;
}
div p a:hover{
    color: var(--color-verde-escuro);
    background-color: var(--color-azul);
}
footer{
    font-size: larger;
    text-align: center;
    padding: 20px;
    color: white;
}
footer h3{
    font-size: 22px;
    padding: 15px;
}