*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{  
    height: 98vh;
    background-color: black;
}
header{
    padding: 18px;
    background-color: white;
}
header a {
    color: black;
    padding: 5px;
    padding-left: 15px;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    color: rgb(255, 145, 0);
    background-color: rgba(116, 116, 116, 0.033);
}
main{
    text-align: center;
    color:white ;
    background: url(../imagens/fubdo.jpg) center;
    background-size: contain;
    background-attachment: fixed;
}
div{
    padding: 100px;
    
}
div h1{
    font-size: 3em;
    padding: 10px;
}
div p{
    font-size: large;
    margin: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.338);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.221);
}
footer{
    font-size: larger;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(197, 23, 177);
}